# Multiple Linear Regression

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

### Load the Data

In [18]:
data = pd.read_csv('1.02.+Multiple+linear+regression.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [19]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

## Creating the multiple regression

### Declare the dependent and independent variables

In [20]:
x = data[['SAT','Rand 1,2,3']]  # input or feature
y = data['GPA']  # output or target

### Regression itself

In [21]:
reg = LinearRegression()

In [22]:
reg.fit(x,y)

LinearRegression()

### Coefficients

In [23]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [24]:
reg.intercept_

0.29603261264909486

### R^2

In [25]:
reg.score(x,y)

0.40668119528142843

### R-squared formula

$R^2_{adj.} = 1 -(1-R^2)*\frac{n-1}{n-p-1}$

* n = number of observations
* p = number of features

In [26]:
r2 = reg.score(x,y)

def adjusted_r2 (r2, x):
    n = x.shape[0]
    p = x.shape[1]
    r2_adj = 1 -(1-r2)*(n-1)/(n-p-1)
    return r2_adj

In [27]:
r2_adj = adjusted_r2(r, x)
r2_adj

NameError: name 'r' is not defined

### Making predictions

In [28]:
reg.predict([[1714, 1]])

C:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3.12193344])